// blog-template

.bt-links {
    width: 80vw;
    margin: 0 auto 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bt-link {
    text-transform: uppercase;
    background: $mainColor;
    color: #fff;
    border: 2px solid $mainColor;
    padding: 0.3rem 0.5rem;
    display: inline-block;

  }
  .bt-link:hover {
    background: green;
    border: 2px solid green;
    color: #fff;
  }

  .bt-link-active {
    background: green;
    border: 2px solid green;
    color: #fff;
  }

// blog posts

.template {
    width: 80vw;
    margin: 4rem auto;
    max-width: 750px;
    padding: 2rem;
    background: #fff;
  }
  
.day-container-single {
  background-color: #fff;
    border-left: 30px solid $mainColor;
    padding: 1.5rem 1.5rem .3rem 1.5rem;
    margin: 3rem 0 1.5rem 0;
}

.day-container-single h1 {
  font-family: Outfit !important;
    color: green;
    font-weight: 600;
    font-size: 1.95rem;
}

.day-container-single h2 {
  font-family: Outfit !important;
    color: $mainColor;
    font-weight: 600;
    font-size: 1.75rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}

@media (max-width: 575px) {
  .day-container-single h2 {
    font-size: 1.5rem;
  }
}

.day-container-single blockquote {
  border-left: .4rem solid $mainColor;
  p {
    color: $mainColor;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}


.day-container-single h3 {
  color: green;
}

.day-container-single h4 {
  padding-bottom: 1.2rem;
  text-align: center;
}

.day-container-single a {
  color: $mainColor;
}

.day-container-single a:hover {
  color: yellowgreen;
}

.day-container-single ol {
  padding-left: 1rem;
  margin-bottom: .8rem;
}

.day-container-single ul {
  padding-left: 1rem;
  margin-bottom: .8rem;
}

.day-container-single li {
  padding-left: .3rem;
  font-family: Outfit;
  color: black;
}

.previous-next-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.post-image {
  max-width: 500px;
}

.prev-next-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 775px) {
  .prev-next-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.in-page-nav-left {
  text-align: left;
}
.in-page-nav-right {
  text-align: right;
}

.in-page-nav {
  color: $mainColor;
  font-family: Outfit;
  font-size: 1.1rem;
  padding: 1rem;
}

.in-page-nav:hover {
  color: greenyellow;
}

@media (max-width: 575px) {
  .in-page-nav {
    padding: 0;
    font-size: 1rem;
  }
}


